.alternative {
	padding-top: vw(130);
	padding-bottom: vw(105);

	.alt-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: vw(40);
		width: 100%;

		h2 {
			margin-bottom: vw(5);
			width: 60%;

			&::before {
				top: vw(-25);
			}
		}

		.alt-tip {
			display: flex;
			justify-content: space-between;
			margin-right: vw(50);
			padding-top: vw(5);
			font-family: $g-p-light;
			font-size: vw(16);
			line-height: vw(25);

			span {
				font-family: $g-p-medium;
			}

			.subtitle {
				font-family: $g-p-light;
				font-size: vw(13);
			}

			&__image {
				position: relative;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				margin-right: vw(30);
				border-radius: 50%;
				width: vw(70);
				height: vw(70);
				background-color: $sky-blue;

				&::before {
					content: "";
					position: absolute;
					left: vw(-120);
					bottom: vw(-120);
					width: vw(103);
					height: vw(158);
					background-image: url("../../images/tip-line.png");
					background-size: contain;
					background-repeat: no-repeat;
				}

				img {
					width: vw(96);
					height: vw(54);
				}
			}
		}

		.h-subtitle {
			font-family: $g-p-light;
			font-size: vw(18);
			line-height: vw(30);
		}
	}

	.alt-content {
		display: flex;
		justify-content: flex-start;
		width: 100%;

		.box-wrapper {
			width: 55%;

			.box {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				&-img {
					display: flex;
					align-items: center;
					justify-content: center;
					width: vw(105);
					height: vw(105);

					&-1 {
						width: vw(76);
						height: vw(81);
					}

					&-2 {
						width: vw(69);
						height: vw(60);
					}

					&-3 {
						width: vw(85);
						height: vw(52);
					}

					&-4 {
						width: vw(98);
						height: vw(105);
					}
				}

				&-text {
					font-family: $g-p-light;
					font-size: vw(16);
					line-height: vw(25);

					span {
						font-family: $g-p-medium;
					}
				}
			}

			.alt-buttons {
				position: relative;
				z-index: 10;
				display: flex;
				justify-content: space-between;
				margin-top: vw(30);
			}
		}

		.absolutes {
			position: relative;

			.paper {
				position: absolute;
				// left: vw(-110);
				// top: vw(-50);
				width: vw(564);
				height: vw(603);
			}
		}
	}
}