.car-section {
	padding-top: vw(60);
	box-shadow: 0 vw(50) vw(50) 0 rgba(0, 0, 0, 0.02);
	background-image: url("../../images/first-screen-bg.png");
	background-repeat: no-repeat;

	@include mobile {
    padding-top: 0;
    margin-bottom: vmin(30);
	}

	.container {
    justify-content: space-between;
    
    @include mobile {
      justify-content: center;
    }
	}

	&_content {
    padding-left: vw(100);
    
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }

		h1 {
			margin-bottom: vw(10);
			font-family: $g-p-light;
			font-size: vw(38);
			line-height: vw(55);
			letter-spacing: vw(1.5);
			text-transform: uppercase;
			color: $main-font-color;

			@include mobile {
        width: 90%;
        margin-top: vmin(25);
        position: relative;
				margin-bottom: vmin(35);
				font-size: vmin(29);
				line-height: vmin(42);
        letter-spacing: vmin(1.5);
        text-align: center;
        z-index: 2;
      }
      
      br {
        @include mobile {
          display: none;
        }
      }

			span {
				font-family: $g-p-medium;
			}
		}

		p {
			position: relative;
			padding-bottom: vw(40);
			padding-left: vw(35);
			font-family: $g-p-light;
			font-size: vw(18);
			line-height: vw(30);
			color: $main-font-color;

			span {
				font-family: $g-p-medium;
			}

			@include mobile {
        width: 65%;
        text-align: center;
				padding-left: 0;
				padding-bottom: 0;
				font-size: vmin(18);
        line-height: vmin(30);
        z-index: 2;

				br {
					display: none;
				}
			}
		}

		p::before {
			content: "";
			position: absolute;
			left: 0;
			top: vw(10);
			width: vw(20);
			height: vw(10);
			background-image: url("../../images/blue-ellipse.png");
			background-size: contain;
			background-repeat: no-repeat;

			@include mobile {
        left: 42%;
        top: vmin(-10);
				width: vmin(20);
				height: vmin(10);
			}
		}
	}

	.car-section_right {
    width: 32%;
    
    @include mobile {
      display: flex;
      justify-content: center;
      width: 100%;
    }

		.online-wrapper {
			position: relative;
			margin-top: vw(35);
			padding: vw(24) vw(35);
			width: vw(370);
			height: vw(100);
			box-shadow: 0 vw(10) vw(25) rgba(0, 0, 0, 0.04);
			font-family: $g-p-light;
			font-size: vw(14);
			line-height: vw(20);
			color: $main-font-color;

			@include mobile {
				margin-top: vmin(35);
				padding: vmin(24) vmin(15);
				width: vmin(300);
				height: vmin(100);
				font-size: vmin(14);
				line-height: vmin(20);
			}

			span {
				font-family: $g-p-medium;
			}

			img {
				position: absolute;
				right: vw(15);
				top: vw(-10);
				width: vw(131);
				height: vw(118);

				@include mobile {
					right: vmin(15);
					top: vmin(-10);
					width: vmin(131);
					height: vmin(118);
				}
			}

			.percent {
				position: absolute;
				right: vw(15);
				top: vw(60);
				border-radius: vw(10);
				width: vw(50);
				height: vw(30);
				font-family: $g-p-light;
				font-size: vw(14);
				line-height: vw(30);
				text-align: center;
				color: rgb(255, 255, 255);
				background-color: rgb(73, 178, 248);

				@include mobile {
					right: vmin(15);
					top: vmin(60);
					border-radius: vmin(10);
					width: vmin(50);
					height: vmin(30);
					font-size: vmin(14);
					line-height: vmin(30);
				}
			}
		}

		.car1 {
			position: absolute;
			right: vw(-230);
			top: vw(150);
			z-index: 1;
			width: vw(866);
			height: vw(434);

			@include mobile {
        top: vmin(50);
        left: vmin(-723);
				width: vmin(866);
        height: vmin(434);
			}
		}
  }

	.perks {
		display: flex;
		justify-content: space-around;
		margin-top: vw(80);
		border-radius: vw(30) vw(30) 0 0;
		padding: vw(30) vw(10) 0;
		width: 100%;
		background-color: #121d25;

		.card {
			display: flex;
			padding: vw(10) 0;
			font-family: $g-p-light;
			font-size: vw(14);
			line-height: vw(22);
			color: #fff;

			@include mobile {
        display: flex;
        padding-top: vmin(10);
        padding-right: vmin(10);
				font-size: vmin(14);
        line-height: vmin(22);
        
        br {
          @include mobile {
            display: none;
          }
        }
			}

			.texts {
				margin-top: vw(5);
			}

			span {
				font-family: $g-p-medium;
			}
		}

		.card-1 img {
			width: vw(78);
			height: vw(82);

			@include mobile {
				width: vmin(78);
				height: vmin(82);
			}
		}

		.card-2 img {
			width: vw(82);
			height: vw(82);

			@include mobile {
				width: vmin(82);
				height: vmin(82);
			}
		}

		.card-3 img {
			width: vw(67);
			height: vw(78);

			@include mobile {
				width: vmin(67);
				height: vmin(78);
			}
		}
	}

	.tree {
		width: vw(141);
		height: vw(417);
		position: absolute;
		right: 0;
		top: 0;

		@include mobile {
			width: vmin(70);
			height: vmin(207);
		}
  }

  
  .desctop-perks {
		@include mobile {
      display: none;
		}
  }
  
  .mob-perks {
    display: none;

    @include mobile {
      display: block;
      flex-wrap: wrap;
      border-radius: vmin(20);
      margin-top: vmin(40);
      border-radius: vmin(30);
      padding: vmin(30) vmin(10) 0;
      width: vmin(320);
      height: vmin(320);
      margin-bottom: vmin(30);
    }
  }

  .main-button {
    @include mobile {
      width: vmin(320);
      
    }
  }
}