.counter-section {
	.container {
		.banner {
			margin-top: vw(-210);
			width: 100%;
			height: vw(420);
			background-image: url("../../images/counter-bg.png");
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}