.for {
	padding-top: vw(120);
	height: vw(750);
	background-image: url("../../images/for-bg.png");
	background-repeat: no-repeat;
	background-position: 90% -50%;
	.container {
		justify-content: flex-start;
		h2 {
			&::before {
				top: vw(-30);
			}
		}
	}
}