.header {
	.container {
		.header-button_taxi {
			display: inline-block;
			border: 1px solid rgba(26, 33, 35, 0.5);
			border-radius: vw(26);
			padding-left: vw(60);
			width: vw(220);
			height: vw(51);
			font-family: $g-p-medium;
			font-size: vw(13);
			line-height: vw(45);
			color: rgba(9, 38, 58, 0.8);
			background-image: url("../../images/squares.png");
			background-position: 10% 50%;
			background-repeat: no-repeat;
		}
	}
}