.pleasure {
	padding-top: vw(115);
	padding-bottom: vw(100);
	background-image: url("../../images/pleasure-bg.png");
	background-size: cover;
	background-repeat: no-repeat;

	@include mobile {
		padding-top: vmin(130);
		padding-bottom: vmin(100);
		background-image: none;
	}

	h2 {
		margin-bottom: vw(70);

		@include mobile {
      width: 80%;
      text-align: center;
			margin-bottom: vmin(30);
		}
	}

	h2::before {
		left: 43%;
		top: vw(-30);
		width: vw(169);
		background-image: url("../images/c-logo.png");

		@include mobile {
			left: 32%;
			top: vmin(-40);
			width: vmin(169);
		}
	}

	.content {
		display: flex;
		justify-content: space-between;
		padding-left: vw(120);
		width: 100%;

		@include mobile {
      flex-wrap: wrap;
      justify-content: center;
			padding-left: 0;
    }

		.col-l,
		.col-r {
			border-radius: vw(10);
			padding: vw(10) 0;
			box-shadow: 0 vw(15) vw(20) rgba(0, 0, 0, 0.05);
			background-color: #fff;

			@include mobile {
				width: vmin(309);
				padding: 0;
      }
     
			.card {
				position: relative;
				padding: vw(30) vw(30) vw(20);
				width: 100%;
				box-shadow: 0 vw(28) vw(25) vw(-20) rgba(0, 0, 0, 0.1);

				@include mobile {
          padding: vmin(40) vmin(10) vmin(20) vmin(20);
          box-shadow: 0 vmin(28) vmin(25) vmin(-20) rgba(0, 0, 0, 0.1);
        }
        
        br {
          @include mobile {
            display: none;
          }
        }

				&::before {
					content: "";
					position: absolute;
					left: vw(-120);
					top: 0;
					width: vw(80);
					height: vw(95);
					background-size: contain;
					background-repeat: no-repeat;

					@include mobile {
						left: vmin(20);
						top: vmin(60);
						width: vmin(50);
						height: vmin(80);
					}
				}

				&-h {
					margin-bottom: vw(10);
					font-family: $g-p-bold;
					font-size: vw(14);
					line-height: vw(20);
					letter-spacing: vw(0.7);
					text-transform: uppercase;

					@include mobile {
						margin-bottom: vmin(10);
						font-size: vmin(12);
						line-height: vmin(20);
            letter-spacing: vmin(0.7);
            margin-left: vmin(70);
            padding-top: vmin(10);
					}
				}

				&-p {
					padding-bottom: vw(20);
					font-family: $g-p-light;
					font-size: vw(14);
					line-height: vw(20);

					@include mobile {
						padding-bottom: vmin(20);
						font-size: vmin(14);
            line-height: vmin(20);
            margin-left: vmin(70);
          }
          
          br {
            @include mobile {
              display: none;
            }
          }
				}

				&:last-child {
					padding-bottom: 0;
          box-shadow: none;
          
          @include mobile {
            box-shadow: 0 vmin(28) vmin(25) vmin(-20) rgba(0, 0, 0, 0.1);
          }
				}
			}

			.c-1::before {
				background-image: url("../../images/p-1.png");
			}

			.c-2::before {
				background-image: url("../../images/p-2.png");
			}

			.c-3::before {
				background-image: url("../../images/p-3.png");
			}

			.c-4::before {
				background-image: url("../../images/p-4.png");
			}

			.c-5::before {
				background-image: url("../../images/p-5.png");
			}

			.c-6::before {
				background-image: url("../../images/p-6.png");
			}
		}
	}
}