section.alternative#alternative
	.container
		header.alt-header
			h2
				| комфортная безопасная#[br]
				span
					| альтернатива 
				| кредиту
			.alt-tip.desctop-tip
				.alt-tip__image
					img(src="../../images/car-mini.png", alt="")
				.alt-tip__text
					| После выплат вы получаете#[br]
					| авто 
					span
						| в свою собственность#[br]
					span.subtitle
						| Данный пункт прописан в договоре
			.h-subtitle
				| Вы полностью защищены от&nbspобмана и процентов
		.alt-content
			.box-wrapper
				.box
					.box-img
						img(src="../../images/alt-1.png", alt="").box-img-1
					.box-text
						| Вы можете 
						span
							| отказаться от&nbspаренды #[br]
						| в любой момент и&nbspне&nbspвыплачивать #[br]
						| проценты
				.box
					.box-img
						img(src="../../images/alt-2.png", alt="").box-img-2
					.box-text
						| Полностью 
						span
							| легальная сделка, 
						| никаких #[br]
						| серых схем и&nbspобмана
				.box
					.box-img
						img(src="../../images/alt-3.png", alt="").box-img-3
					.box-text
						| Вы 
						span
							| не рискуете 
						| своим имуществом
				.box
					.box-img
						img(src="../../images/alt-4.png", alt="").box-img-4
					.box-text
						| Полная 
						span
							| конфиденциальность 
						| клиентов 
				.alt-buttons
					a.main-button.anchor(href="#catalog")
						span
							| Выбрать авто
					a.white-blue-button.open-popup(href="#consult")
						span
							| Заказать консультацию
			.absolutes
				.headphones#scene
					img.paper(src="../../images/a4.png", alt="", data-depth="-0.6")
				a.circle-link.open-popup(href="#consult-1")
					img(src="../../images/down-arrow.png", alt="")
					| Запросить договор