section.alternative
	.container
		header.alt-header
			h2
				| комфортная безопасная#[br]
				span
					| альтернатива 
				| кредиту
			.alt-tip
				.alt-tip__image
					img(src="../../images/car-mini.png", alt="")
				.alt-tip__text
					| После выплат вы получаете#[br]
					| авто 
					span
						| в свою собственность#[br]
					span.subtitle
						| Данный пункт прописан в договоре