section.car-section#car-section
  .container
    .car-section_content
      h1
        | Ездите на новом #[br]
        | автомобиле 
        span
          | уже через #[br]
          | 12 часов, 
        | без кредитов #[br]
        | и процентов
      p
        | Выгодная аренда автомобиля до 3 лет #[br]
        | с правом выкупа. 
        span
          | Отличная альтернатива #[br]
        | кредиту и лизингу
      .perks.mob-perks
        .card.card-1
          img(src="../../images/bank.png", alt="")
          .texts
            span
              | Без участия банков, 
            |без процентов, #[br]
            | комиссий и визитов в банк
        .card.card-2
          img(src="../../images/wallet.png", alt="")
          .texts
            | С удобной фиксированной оплатой, #[br]
            span
              | без первого взноса и залога
        .card.card-3
          img(src="../../images/click.png", alt="")
          .texts
            span
              | Без лишних документов, 
            | одобрение #[br]
            | заявки онлайн
    a.main-button.anchor(href="#catalog")
      span
        | Выбрать авто для себя
    .car-section_right
      .online-wrapper
        | Онлайн одобрение #[br]
        | за
        span
          | 20 минут, 
        |без визита #[br]
        | в офис
        img(src="../../images/online-banner-guy.png", alt="")
        .percent
          | 98%
      img(src="../../images/car1.png", alt="").car1
  .container
    .perks.desctop-perks
      .card.card-1
        img(src="../../images/bank.png", alt="")
        .texts
          span
            | Без участия банков, 
          |без процентов, #[br]
          | комиссий и визитов в банк
      .card.card-2
        img(src="../../images/wallet.png", alt="")
        .texts
          | С удобной фиксированной оплатой, #[br]
          span
            | без первого взноса и залога
      .card.card-3
        img(src="../../images/click.png", alt="")
        .texts
          span
            | Без лишних документов, 
          | одобрение #[br]
          | заявки онлайн
  img(src="../../images/tree.png", alt="").tree

