section.catalog-section#catalog
	.container
		h2
			| Авто, на которых вы можете уехать#[br]
			| уже через 
			span
				| 12 часов
		.catalog-header
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-1.png", alt="").c-card-1
				.c-card-text
					.c-title
						| Страховка на год#[br]
						| в подарок
					.c-subtitle
						| Aкция действует до 
						span.date
							| 12 июня
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-2.png", alt="").c-card-2
					a.circle-link
						span
							| Что
						span
							| еще
						.hover-tip
							ul
								li
									| Аптечка
								li
									| Огнетушитель
								li
									| Набор&nbspинструментов
								li
									| Коврики
								li
									| Запасное&nbspколесо
				.c-card-text
					.c-title
						| Авто готовы#[br]
						| к эксплуатации 
					.c-subtitle
						| Обслужены, имеют полный#[br]
						| комплект, коврики, аптечка,#[br]
						| огнетушитель
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-3.png", alt="").c-card-3
				.c-card-text
					.c-title
						| Авто от официальных#[br]
						| дилеров на гарантии
					.c-subtitle
						| Проверенные авто#[br]
						| от официального дилера#[br]
						| в хороших комплектациях
		.catalog
			.catalog__item
				.catalog__item_img
					img(src="../../images/catalog-item-1.png", alt="")
				.catalog__item_heading
					| Volkswagen Polo Sedan#[br]
					| Сonnect
				.catalog__item_price-line
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					a.calc-link.open-popup(href="#price-consult-2")
						| Рассчитать точную 
						| стоимость авто
				.catalog__item_details-box
					.detail
						.detail-h
							| Год:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 2019
					.detail
						.detail-h
							| Пробег:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 200 км
					.detail
						.detail-h
							| Состояние:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Новый
				.catalog__item_details-box
					.detail
						.detail-h
							| Двигатель:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Бензин, 90 л.с.
					.detail
						.detail-h
							| Коробка:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Автомат
				a.blue-link.open-popup(href="#characteristics")
					img(src="../../images/settings-gears.png", alt="")
					span.blue-link-span
						| Характеристики и комплектации
			.catalog__item
				.catalog__item_img
					img(src="../../images/catalog-item-2.png", alt="")
				.catalog__item_heading
					| Volkswagen Polo Sedan#[br]
					| Сonnect
				.catalog__item_price-line
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					a.calc-link.open-popup(href="#price-consult")
						| Рассчитать точную 
						| стоимость авто
				.catalog__item_details-box
					.detail
						.detail-h
							| Год:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 2019
					.detail
						.detail-h
							| Пробег:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 200 км
					.detail
						.detail-h
							| Состояние:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Новый
				.catalog__item_details-box
					.detail
						.detail-h
							| Двигатель:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Бензин, 90 л.с.
					.detail
						.detail-h
							| Коробка:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Автомат
				a.blue-link.open-popup(href="#characteristics-1")
					img(src="../../images/settings-gears.png", alt="")
					span.blue-link-span
						| Характеристики и комплектации
			.catalog__item
				.catalog__item_img
					img(src="../../images/catalog-item-3.png", alt="")
				.catalog__item_heading
					| Volkswagen Polo Sedan#[br]
					| Сonnect
				.catalog__item_price-line
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					a.calc-link.open-popup(href="#price-consult-1")
						| Рассчитать точную 
						| стоимость авто
				.catalog__item_details-box
					.detail
						.detail-h
							| Год:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 2019
					.detail
						.detail-h
							| Пробег:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| 200 км
					.detail
						.detail-h
							| Состояние:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Новый
				.catalog__item_details-box
					.detail
						.detail-h
							| Двигатель:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Бензин, 90 л.с.
					.detail
						.detail-h
							| Коробка:
						.detail-val
							img(src="../../images/dot.png", alt="")
							| Автомат
				a.blue-link.open-popup(href="#characteristics-2")
					img(src="../../images/settings-gears.png", alt="")
					span.blue-link-span
						| Характеристики и комплектации
		.catalog-banner
			.catalog-banner__content
				h3
					| не знаете, какое#[br]
					| авто выбрать?
				.subtitle
					| Оставьте заявку на индивидуальный подбор#[br]
					| и расчет платежей для вас
				a.main-button.open-popup(href="#price-consult-3")
					span
						| оставить заявку
			.catalog-banner__absolutes
				img(src="../../images/ivan.png", alt="").ivan
				.name
					| Иван&nbsp;Иванов
				.job-title
					| Менеджер