section.catalog-section
	.container
		h2
			| Авто, на которых вы можете уехать#[br]
			| уже через 
			span
				| 12 часов
		.catalog-header
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-1.png", alt="").c-card-1
				.c-card-text
					.c-title
						| Страховка на год#[br]
						| в подарок
					.c-subtitle
						| Aкция действует до 
						span.date
							| 12 июня
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-2.png", alt="").c-card-2
					a.circle-link(href="#")
						span
							| Что
						span
							| еще
						.hover-tip
							ul
								li
									| Аптечка
								li
									| Огнетушитель
								li
									| Набор&nbspинструментов
								li
									| Коврики
								li
									| Запасное&nbspколесо
				.c-card-text
					.c-title
						| Авто готовы#[br]
						| к эксплуатации 
					.c-subtitle
						| Обслужены, имеют полный#[br]
						| комплект, коврики, аптечка,#[br]
						| огнетушитель
			.catalog-header__card
				.c-card-img
					img(src="../../images/c-card-3.png", alt="").c-card-3
				.c-card-text
					.c-title
						| Авто от официальных#[br]
						| дилеров на гарантии
					.c-subtitle
						| Проверенные авто#[br]
						| от официального дилера#[br]
						| в хороших комплектациях
			.catalog
				.catalog_item