section.counter-section
	.container
		.banner
			.absolutes
				img.watch-img(src="../../images/watch.png", alt="")
				.dotted-banner
					span.percent
						| 98%#[br]
					| Обратившихся уезжают#[br]
					| от нас на новом авто
			.counter
				h3
					| всего#[br]
					.counter-m
						img(src="../../images/12.png", alt="")
						.hours
							| часов#[br]
					span.new-auto
						| и у вас новый авто
			.buttons
				a.main-button.anchor(href="#catalog")
					span
						| Выбрать авто
				a.white-blue-button.open-popup(href="#consult-3")
					span
						| заказать консультацию