section.credit-section#credit
	.container
		h2
			| это - 
			span
				| собственный 
			| автомобиль
		a.blue-link.open-popup(href="#")
			span.blue-link-span
				| Отличие от кредита и лизинга
		.credit-section__cards
			.card
				.card-img
					img(src="../../images/bank-mini.png", alt="")
				header.card-header
					| С любой#[br]
					| кредитной#[br]
					| историей#[br]
				p.card-description
					| В отличие от банков#[br]
					| нам 
					span
						| не важна#[br]
						| кредитная история#[br]
			.card
				.card-img
					img(src="../../images/car-insurance-mini.png", alt="")
				header.card-header
					| Без оформления#[br]
					| Каско
				p.card-description
					| Достаточно обычной#[br]
					| страховки, 
					span
						| экономия#[br]
						| 1300 руб./год
			.card
				.card-img
					img(src="../../images/car-key-mini.png", alt="")
				header.card-header
					| С возможностью#[br]
					| быстрого выкупа
				p.card-description
					| уже через 3 месяца,#[br]
					span
						| вы можете выкупить#[br]
					| свой авто
			.card
				.card-img
					img(src="../../images/bank2-mini.png", alt="")
				header.card-header
					| Без справки#[br]
					| о доходах
				p.card-description
					| Доход 
					span
						| не имеет#[br]
					| значения
			.card
				.card-img
					img(src="../../images/payment-method-mini.png", alt="")
				header.card-header
					| Без первого#[br]
					| платежа
				p.card-description
					| Отдаем авто#[br]
					span
						| на доверии
			.card
				.card-img
					img(src="../../images/percentage-mini.png", alt="")
				header.card-header
					| С фиксированной#[br]
					| оплатой, без %
				p.card-description
					| Фиксированная#[br]
					| оплата в byn, 
					span
						| без#[br]
						| скрытых платежей#[br]
						| и комиссий