section.faq
	.container
		h2
			| Частые вопросы
		.faq-content
			.list
				.faq-card
					.faq-card__heading
						.title
							| Какие требования для получения авто?
						button.faq-button.closed
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и водительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
				.faq-card
					.faq-card__heading
						.title
							| Как оплачивать?
						button.faq-button
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и водительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
				.faq-card
					.faq-card__heading
						.title
							| Какой ваш интерес?
						button.faq-button
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и водительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
			aside.another-question
				h3
					| У вас другой#[br]
					| вопрос?
				.question-subtitle
					| Задайте его нашему менеджеру
				img(src="../../images/question-guy.png", alt="")
				textarea.main-textarea(placeholder="Введите ваш вопрос")
				button.main-button
					span
						| задать вопрос менеджеру