section.faq#faq
	.container
		h2
			| Частые вопросы
		.faq-content
			.list
				.faq-card.card-closed
					.faq-card__heading
						.title
							| Какие требования #[br]для получения авто?
						button.faq-button.closed
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><g><path d="M5.398 5.784l-5.16-4.52a.674.674 0 0 1 0-1.04.927.927 0 0 1 1.188 0l4.566 4 4.566-4a.929.929 0 0 1 1.188 0 .674.674 0 0 1 0 1.04l-5.16 4.52A.9.9 0 0 1 5.992 6a.9.9 0 0 1-.594-.216z"/></g></svg>
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и&nbspводительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
				.faq-card.card-closed
					.faq-card__heading
						.title
							| Как оплачивать?
						button.faq-button.closed
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><g><path d="M5.398 5.784l-5.16-4.52a.674.674 0 0 1 0-1.04.927.927 0 0 1 1.188 0l4.566 4 4.566-4a.929.929 0 0 1 1.188 0 .674.674 0 0 1 0 1.04l-5.16 4.52A.9.9 0 0 1 5.992 6a.9.9 0 0 1-.594-.216z"/></g></svg>
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и&nbspводительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
				.faq-card.card-closed
					.faq-card__heading
						.title
							| Какой ваш интерес?
						button.faq-button.closed
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><g><path d="M5.398 5.784l-5.16-4.52a.674.674 0 0 1 0-1.04.927.927 0 0 1 1.188 0l4.566 4 4.566-4a.929.929 0 0 1 1.188 0 .674.674 0 0 1 0 1.04l-5.16 4.52A.9.9 0 0 1 5.992 6a.9.9 0 0 1-.594-.216z"/></g></svg>
					.faq-card__answer
						p
							| Для оформления Договора достаточно два документа - паспорт и&nbspводительские права.
						p
							| Рассмотрение заявки максимум за одни сутки. Машину можно выбрать из наличия 
							| или сделать предзаказ. 
						p
							| Все автомобили из наличия уже застрахованы, пройдена диагностика и полное 
							| тех. обслуживание.
			aside
				form.faq-form
					.tabs
						.tab-pane.faded.in.active.faq-tab-1.another-question
							h3
								| У вас другой#[br]
								| вопрос?
							.question-subtitle
								| Задайте его нашему менеджеру
							img(src="../../images/question-guy.png", alt="")
							textarea.main-textarea(placeholder="Введите ваш вопрос")
							button.main-button.next-question
								span
									| задать вопрос менеджеру
						.tab-pane.faded.faq-tab-2.dn.another-question
							h3
								| Введите ваш номер#[br]
							.question-subtitle
								| Чтобы Евгений смог ответить #[br]
								| на ваш вопрос
							img(src="../../images/question-guy.png", alt="")
							input(type="tel" maxlength="19" placeholder="+375  (XX) XXX-XX-XX").main-input
							button.main-button.form-submit(type="submit")
								span
									| задать вопрос менеджеру