section.for
	.container
		h2
			| создан и 
			span
				| идеально 
			| подойдет
		.cards
			.card
				.card-icon
					img(src="../../images/card-icon-1.png", alt="").card-i-1
				.card-content
					header.card-header
						| Нужен авто для 
						span
							| личного#[br]
						| использования
					p.card-description
						| Вы можете стать владельцем#[br]
						| авто, 
						span
							| без первого платежа#[br]
						| с плохой кредитной историей,#[br]
						| без справки о доходах
			.card
				.card-icon
					img(src="../../images/card-icon-2.png", alt="").card-i-2
				.card-content
					header.card-header
						| Для водителей 
						span
							| такси
					p.card-description
						| Арендуйте автомобиль#[br]
						| и 
						span
							| выплачивайте 
						| его постепенно
						a.blue-link(href="#")
							span.blue-link-span
								| Для действующих водителей такси
						a.blue-link(href="#")
							span.blue-link-span
								| Для тех, кто хочет работать 
							span.blue-link-span
								| водителем такси
			.card
				.card-icon
					img(src="../../images/card-icon-3.png", alt="").card-i-3
				.card-content
					header.card-header
						| Используете#[br]
						span
							| долгосрочную 
						|аренду
					p.card-description
						| Используя YoWheels ваши#[br]
						| платежи по аренде, 
						span
							| будут#[br]
							| выкупать авто, 
						| а не улетать
						| на ветер
			.card
				.card-icon.courier
					img(src="../../images/card-icon-4.png", alt="").card-i-4
				.card-content
					header.card-header
						| Нужен авто для 
						span
							| работы
					p.card-description
						span
							| Работаете курьером? 
						| Или#[br]
						| на другой работе связанной#[br]
						| с авто, YoWheels идеально#[br]
						| подойдет
			.card
				.card-icon
					img(src="../../images/card-icon-5.png", alt="").card-i-5
				.card-content
					header.card-header
						| Для 
						span
							| бизнеса 
						| или ваших#[br]
						| сотрудников
					p.card-description
						span
							| Не хотите брать лизинг,#[br]
						| YoWheels отличная#[br]
						| альтернатива