section.how
	.container
		h2
			| как работает 
			span
				| YOWHEELS
		.subtitle
			| всего 4 шага и у вас новый авто
		.road
			.stage
				| Заявка
				//- img(src="../../images/dot.png", alt="").abs-dot
			.stage.blurred
				| Консультация#[br]
				img(src="../../images/time-icon.png", alt="")
				span
					| 5-15 мин.
			.stage.blurred
				| Договор#[br]
				img(src="../../images/time-icon.png", alt="")
				span
					| 10-30 мин.
			.stage.blurred
				| Забираете авто#[br]
				img(src="../../images/time-icon.png", alt="")
				span
					| 10-30 мин.
			.stage.blurred
				| Выкуп

		.tabs
			.tab-pane.how-pane-1.faded.in.active#1
				.content
					h4
						| Выбираете авто для себя
					p.tab-subtitle
						| Oставляете заявку на сайте или звоните #[br]
						| в отдел продаж 
						span
							| +375 29 5-666-222
					.buttons
						a.main-button.anchor(href="#catalog")
							span
								| Выбрать авто
						a.white-blue-button.open-popup(href="#consult")
							span
								| заказать консультацию
					button.how-next.to-2
						| Следующий этап
				.image
					img(src="../../images/how-1-1.png", alt="").how-1
					//- img(src="../../images/how-tree.png", alt="").how-1-tree.how-tree
					
			.tab-pane.how-pane-2.faded#2
				.content
					h4
						| С вами свяжется наш менеджер
					p.tab-subtitle
						| Произведет консультацию, поможет с выбором #[br]
						| авто совершит онлайн проверку и одобрит аренду
					.buttons
						a.main-button.anchor(href="#catalog")
							span
								| Выбрать авто
						a.white-blue-button.open-popup(href="#consult")
							span
								| заказать консультацию
					button.how-next.to-3
						| Следующий этап
				.image
					img(src="../../images/how-2.png", alt="").how-2
			.tab-pane.how-pane-3.faded#3
				.content
					h4
						| Заключаем договор и передаем ключи
					p.tab-subtitle
						| Приезжаете к нам в офис, заключаем #[br]
						| договор или заказываете выезд менеджера #[br]
						| с доставкой авто и договором 
					.buttons
						a.main-button.anchor(href="#catalog")
							span
								| Выбрать авто
						a.white-blue-button.open-popup(href="#consult")
							span
								| заказать консультацию
					button.how-next.to-4
						| Следующий этап
				.image
			.tab-pane.how-pane-4.faded#4
				.content
					h4
						| Вы владелец нового авто
					p.tab-subtitle
						| Приезжаете к нам в офис, заключаем #[br]
						| договор или заказываете выезд менеджера #[br]
						| с доставкой авто и договором 
					.buttons
						a.main-button.anchor(href="#catalog")
							span
								| Выбрать авто
						a.white-blue-button.open-popup(href="#consult")
							span
								| заказать консультацию
					button.how-next.to-5
						| Следующий этап
				.image
			.tab-pane.how-pane-5.faded#5
				.content
					h4
						| Выкупаете авто
					p.tab-subtitle
						| Уже через 3 месяца вы можете досрочно #[br]
						| выкупить авто, без комиссий и процентов или #[br]
						| плавно эксплуатировать и выплачивать его до 3 лет
					.buttons
						a.main-button.anchor(href="#catalog")
							span
								| Выбрать авто
						a.white-blue-button.open-popup(href="#consult")
							span
								| заказать консультацию
				.image

				