.map#map
	.container
		.map-wrapper#map-wrapper
		.contacts-wrapper
			.contacts
				.contacts__heading
					h5
						| Приезжайте к нам в офис!
					.contacts-subtitle
						| или 
						a.ask.open-popup(href="#")
							span
								| задайте вопрос 
						| нашему менеджеру
				.contacts__main
					.contacts__main_card.office
						.c-h
							| головной офис
						.c-text
							| Минск, пр-т Дзержинского, д. 22
						.c-sub
							img(src="../../images/dot.png", alt="")
							.txt
								| до закрытия 
							span#closing-hour1
								| 3 
							span#closing-text1
								| часа
					.contacts__main_card.tel
						.c-h
							| телефон
						a.c-text(href="tel:+375295666222")
							| +375 29 5-666-222
						div
							a.viber(href="#")
								img(src="../../images/viber.png", alt="")
								| Cвязаться в Viber#[br]
							a.whatsapp(href="#")
								img(src="../../images/whatsapp.png", alt="")
								| Cвязаться в WhatsApp#[br]
							a.telegram(href="#")
								img(src="../../images/telegram.png", alt="")
								| Cвязаться в Telegram
					.contacts__main_card.mail
						.c-h
							| e-mail
						.c-text
							a(href="mailto:info@yowheels.by")
								| info@yowheels.by
				a.main-button.open-popup(href="#consult-11")
					span
						| задать вопрос менеджеру