.modals
	.modal.mfp-with-anim.consult#consult
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					img(src="../../images/chat.png", alt="")
					.text
						| Расскажет обо всех 
						span
							| условиях работы в такси #[br]
							| и аренды авто, 
						| вы будете знать обо всем #[br]
						| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			.consult__form
				input(type="tel").main-input
				button.main-button
					span
						| Оставить заявку на бесплатную консультацию


	.modal.mfp-with-anim.payment#payment
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
	
	
	.modal.mfp-with-anim.credit-leasing#credit-leasing
		a.popup-close
		.wrapper
			.credit-leasing__heading
				h3
					| Отличие YOWHEELS
				.bottom-h
					h3
						| от
					.tab-nav
						ul
							li
								a(href="#")
									| Кредита
							li
								a(href="#")
									| Лизинга
							li
								a(href="#")
									| Аренды
				.sub-heading
					img(src="../../images/mini-logo.png", alt="")
					| YoWheels - лучше и проще, чем обычный лизинг
			.tabs
				.tab-content
					.tab-pane.credit-pane.faded.in.active#credit-pane
						.box
							.img
							.text
								| Доступен #[br]
								| для физических лиц
					.tab-pane.leasing-pane.faded.in.active#leasing-pane
		
	
	.modal.mfp-with-anim.price#price
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
