.modals
	.modal.mfp-with-anim.consult#consult
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" name="Телефон" maxlength="19" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-1
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-2
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-3
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-4
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-5
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-6
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-7
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-8
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-9
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-10
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию
	.modal.mfp-with-anim.consult#consult-11
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от&nbspменеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					.middle-tab(data-index="1")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
					.middle-tab.hidden(data-index="2")
						img(src="../../images/chat.png", alt="")
						.text
							| Расскажет обо всех 
							span
								| условиях работы в такси #[br]
								| и аренды авто, 
							| вы будете знать обо всем #[br]
							| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			form.consult__form
				input(type="hidden" name="project_name" value="Youwheels")
				input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
				input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
				.main-input-wrapper
					input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX").main-input
				button.main-button(type="submit")
					span
						| Оставить заявку на бесплатную консультацию





	.modal.mfp-with-anim.payment#payment
		a.popup-close
		.wrapper
			h3
				| yowheels всегда 
				span
					| на стороне клиента 
				| и предлагает лучшие условия
			.subtitle
				| Консультация менеджера займет не более 10 минут
			.payment__main
				.payment__main_box
					.box-img
						img(src="../../images/calendar.png", alt="").x3840
					.box-text
						span
							| Выходные по платежам
						| Раз в месяц есть выходные по платежам, #[br]
						| время, когда вы ездите на авто бесплатно
				.payment__main_box
					.box-img
						img(src="../../images/pay.png", alt="").p-i
					.box-text
						span
							| Вы решаете, как и когда платить 
						| Оплачивать ежедневно или одним платежом раз #[br]
						| в месяц, так же можете дробить оплату как угодно
						.s-sub
							| За более подробной информацией обращайтесь к&nbspменеджеру
				.payment__main_box
					.box-img
						img(src="../../images/bill.png", alt="").x3840
					.box-text
						span
							| Удобная оплата
						| Никаких очередей в банки, вы оплачиваете #[br]
						| авто через ЕРИП по номеру договора
				.payment__main_box
					.box-img
						img(src="../../images/calendar_1.png", alt="").x3840
					.box-text
						span
							| Отсрочка платежа, до 2 недель
						| Бывают разные ситуации, предоставляем отсрочку#[br]
						| платежа до 2 недель, без процентов и комиссий,#[br]
						| так же просрочка платежей не влияет на вашу#[br]
						| кредитную историю 
				.payment__main_box
					.box-img
						img(src="../../images/money.png", alt="").x4040
					.box-text
						span
							| Фиксированная оплата
						| На этапе заключения договора мы фиксируем #[br]
						| оплату, после чего она не меняется, с yowheels #[br]
						| вы защищены от процентов и комиссий
				.payment__main_box
					.box-img
						img(src="../../images/time.png", alt="").x4040
					.box-text
						span
							| Можете оплачивать наперед 
							| или досрочно погасить
						| Вы можете выплачивать платежи заранее #[br]
						| или выкупить авто сразу после 3 месяцев аренды
			.payment-application
				.payment-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
				form.payment-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас
	
	
	.modal.mfp-with-anim.credit-leasing#credit-leasing(data-id="#credit-pane")
		a.popup-close
		.wrapper
			.credit-leasing__heading
				h3
					| Отличие YOWHEELS
				.bottom-h
					h3
						| от
					.tab-nav
						ul
							li
								a(href="#credit-pane").active
									| Кредита
							li
								a(href="#leasing-pane")
									| Лизинга
							li
								a(href="#rent-pane")
									| Аренды
			.tabs
				.tab-content
					.tab-pane.credit-pane.faded.in.active#credit-pane
						.pane-main
							.heading
								.l
									| Кредит
								.r
									img(src="../../images/mini-logo.png", alt="")
									| YoWheels
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| в 90% требуется#[br]
									| первый взнос 10-20% #[br]
									| от суммы
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Первый взнос #[br]
									| не требуется
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Требуется справка #[br]
									| о доходах
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Справка о доходах #[br]
									| не нужна
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Нужна идеальная #[br]
									| кредитная история
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Кредитная история #[br]
									| не имеет значения
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Разные размеры #[br]
									| платежей
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Фиксированный #[br]
									| платеж на весь срок, #[br]
									| без выплаты %
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Привязка #[br]
									| к ежемесячной #[br]
									| оплате
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Можете оплачивать, #[br]
									| как удобно, каждый #[br]
									| день или раз в месяц
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Практически не реально #[br]
									| отказаться + выплата % #[br]
									| при отказе
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Вы можете прекратить #[br]
									| аренду, через 3 месяца #[br]
									| без выплаты процентов
							.box
								.img
									img(src="../../images/cancel.png", alt="")
								.text
									| Требуется КАСКО
							.box
								.img
									img(src="../../images/tick-circle.png", alt="")
								.text.bold
									| Достаточно обычной #[br]
									| страховки
						.application
							h3
								| Оставить заявку на 
								span
									| бесплатную 
									| консультацию 
								| и выбор авто
							form.application__form
								input(type="hidden" name="project_name" value="Youwheels")
								input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
								input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
								.main-input-wrapper
									input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
								button.main-button(type="submit")
									span
										| Оставить заявку
						
					.tab-pane.leasing-pane.faded#leasing-pane
						.sub-heading
							img(src="../../images/mini-logo.png", alt="")
							| YoWheels - лучше и проще, чем обычный лизинг
						
						.pane-main
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Доступен #[br]
										| для физических лиц
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Отсутствует первый #[br]
										| взнос
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Нет ограничений #[br]
										| по оплате
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Не требуется КАСКО, #[br]
										| достаточно обычной #[br]
										| страховки
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Кредитная история #[br]
										| не имеет значения
								.box
									.img
										img(src="../../images/tick-circle.png", alt="")
									.text
										| Не требуется КАСКО, #[br]
										| достаточно обычной #[br]
										| страховки

						.application
							h3
								| Оставить заявку на 
								span
									| бесплатную 
									| консультацию 
								| и выбор авто
							form.application__form
								input(type="hidden" name="project_name" value="Youwheels")
								input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
								input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
								.main-input-wrapper
									input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
								button.main-button(type="submit")
									span
										| Оставить заявку


				.tab-pane.rent-pane.faded#rent-pane
					.rent-box
						img(src="../../images/car-key.png", alt="")
						.rent-text
							.rent-text-h
								| Отличие в том, что вы 
								span
									| не просто 
								| арендуете,
							p.rent-text-p
								| а постепенно выкупаете авто в собственность, тем самым мы помогаем 
								| сохранить вам ваши деньги и уберечь от банков и кредитов:)
					.application
						h3
							| Оставить заявку на 
							span
								| бесплатную 
								| консультацию 
							| и выбор авто
						form.application__form
							input(type="hidden" name="project_name" value="Youwheels")
							input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
							input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
							.main-input-wrapper
								input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
							button.main-button(type="submit")
								span
									| Оставить заявку
	
	.modal.mfp-with-anim.characteristics#characteristics
		a.popup-close
		.wrapper
			.char-header
				.char-slider
					.swiper-wrapper
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
				//- .char-slider-buttons.mobile-buttons
				//- 	.char-prev.char-button
				//- 		img(src="../../images/char-prev.png", alt="")
				//- 	.char-next.char-button
				//- 		img(src="../../images/char-next.png", alt="")
				.descr
					.d-h
						| Volkswagen Polo #[br]
						| Sedan Сonnect
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					.details-box
						.detail
							.detail-h
								| Год:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 2019
						.detail
							.detail-h
								| Пробег:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 200 км
						.detail
							.detail-h
								| Состояние:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| Новый
				.char-slider-buttons.desktop-buttons
					.char-prev.char-button
						img(src="../../images/char-prev.png", alt="")
					.char-next.char-button
						img(src="../../images/char-next.png", alt="")
			.details-box.sb
				.detail
					.detail-h
						| Двигатель:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Бензин, 90 л.с.
				.detail
					.detail-h
						| Коробка:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Автомат
				.detail
					.detail-h
						| Привод:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Передний
				.detail
					.detail-h
						| Салон:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Темный
				.detail
					.detail-h
						| Цвет:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Синий
			.complect
				| Комплектация
				.complect-tab-nav
					ul
						li
							a(href="#interior").charact-a
								img(src="../../images/interior.png", alt="")
								| Интерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#exterior").charact-a
								img(src="../../images/interior.png", alt="")
								| Экстерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#comfort").charact-a
								img(src="../../images/comfort.png", alt="")
								| Комфорт
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#safety").charact-a
								img(src="../../images/safety.png", alt="")
								| Безопасность
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#tech").charact-a
								img(src="../../images/tech.png", alt="")
								| Технические #[br]
								| характеристики
								span
									| 4 опции
								+svg("charact-arrow")
				.tabs
					.tab-pane.interior-pane.faded#interior
						ul.main-ul
							li
								| Тканевый салон, черный
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									div
										| В подарок
										img(src="../../images/info.png", alt="")
										//- ul.hover-tip
										//- 	li
										//- 		| Аптечка
										//- 	li
										//- 		| Огнетушитель
										//- 	li
										//- 		| Набор&nbsp;инструментов
										//- 	li
										//- 		| Коврики
										//- 	li
										//- 		| Запасное&nbsp;колесо
					.tab-pane.exterior-pane.faded#exterior
						ul.main-ul
							li
								| Экстерьер
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.comfort-pane.faded#comfort
						ul.main-ul
							li
								| Комфорт
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.safety-pane.faded#safety
						ul.main-ul
							li
								| Безопасность
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.tech-pane.faded#tech
						ul.main-ul
							li
								| Технические
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.characteristics#characteristics-1
		a.popup-close
		.wrapper
			.char-header
				.char-slider
					.swiper-wrapper
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
				//- .char-slider-buttons.mobile-buttons
				//- 	.char-prev.char-button
				//- 		img(src="../../images/char-prev.png", alt="")
				//- 	.char-next.char-button
				//- 		img(src="../../images/char-next.png", alt="")
				.descr
					.d-h
						| Volkswagen Polo #[br]
						| Sedan Сonnect
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					.details-box
						.detail
							.detail-h
								| Год:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 2019
						.detail
							.detail-h
								| Пробег:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 200 км
						.detail
							.detail-h
								| Состояние:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| Новый
				.char-slider-buttons.desktop-buttons
					.char-prev.char-button
						img(src="../../images/char-prev.png", alt="")
					.char-next.char-button
						img(src="../../images/char-next.png", alt="")
			.details-box.sb
				.detail
					.detail-h
						| Двигатель:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Бензин, 90 л.с.
				.detail
					.detail-h
						| Коробка:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Автомат
				.detail
					.detail-h
						| Привод:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Передний
				.detail
					.detail-h
						| Салон:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Темный
				.detail
					.detail-h
						| Цвет:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Синий
			.complect
				| Комплектация
				.complect-tab-nav
					ul
						li
							a(href="#interior").charact-a
								img(src="../../images/interior.png", alt="")
								| Интерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#exterior").charact-a
								img(src="../../images/interior.png", alt="")
								| Экстерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#comfort").charact-a
								img(src="../../images/comfort.png", alt="")
								| Комфорт
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#safety").charact-a
								img(src="../../images/safety.png", alt="")
								| Безопасность
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#tech").charact-a
								img(src="../../images/tech.png", alt="")
								| Технические #[br]
								| характеристики
								span
									| 4 опции
								+svg("charact-arrow")
				.tabs
					.tab-pane.interior-pane.faded#interior
						ul.main-ul
							li
								| Тканевый салон, черный
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									div
										| В подарок
										img(src="../../images/info.png", alt="")
										//- ul.hover-tip
										//- 	li
										//- 		| Аптечка
										//- 	li
										//- 		| Огнетушитель
										//- 	li
										//- 		| Набор&nbsp;инструментов
										//- 	li
										//- 		| Коврики
										//- 	li
										//- 		| Запасное&nbsp;колесо
					.tab-pane.exterior-pane.faded#exterior
						ul.main-ul
							li
								| Экстерьер
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.comfort-pane.faded#comfort
						ul.main-ul
							li
								| Комфорт
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.safety-pane.faded#safety
						ul.main-ul
							li
								| Безопасность
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.tech-pane.faded#tech
						ul.main-ul
							li
								| Технические
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.characteristics#characteristics-2
		a.popup-close
		.wrapper
			.char-header
				.char-slider
					.swiper-wrapper
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
						.swiper-slide.swiper-lazy
							img(src="../../images/charact-details-img.png", alt="")
				//- .char-slider-buttons.mobile-buttons
				//- 	.char-prev.char-button
				//- 		img(src="../../images/char-prev.png", alt="")
				//- 	.char-next.char-button
				//- 		img(src="../../images/char-next.png", alt="")
				.descr
					.d-h
						| Volkswagen Polo #[br]
						| Sedan Сonnect
					.price-box
						.left
							| от
						span
							| 41
						.right
							| руб.#[br]
							| день
					.details-box
						.detail
							.detail-h
								| Год:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 2019
						.detail
							.detail-h
								| Пробег:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| 200 км
						.detail
							.detail-h
								| Состояние:
							.detail-val
								img(src="../../images/dot.png", alt="")
								| Новый
				.char-slider-buttons.desktop-buttons
					.char-prev.char-button
						img(src="../../images/char-prev.png", alt="")
					.char-next.char-button
						img(src="../../images/char-next.png", alt="")
			.details-box.sb
				.detail
					.detail-h
						| Двигатель:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Бензин, 90 л.с.
				.detail
					.detail-h
						| Коробка:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Автомат
				.detail
					.detail-h
						| Привод:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Передний
				.detail
					.detail-h
						| Салон:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Темный
				.detail
					.detail-h
						| Цвет:
					.detail-val
						img(src="../../images/dot.png", alt="")
						| Синий
			.complect
				| Комплектация
				.complect-tab-nav
					ul
						li
							a(href="#interior").charact-a
								img(src="../../images/interior.png", alt="")
								| Интерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#exterior").charact-a
								img(src="../../images/interior.png", alt="")
								| Экстерьер
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#comfort").charact-a
								img(src="../../images/comfort.png", alt="")
								| Комфорт
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#safety").charact-a
								img(src="../../images/safety.png", alt="")
								| Безопасность
								span
									| 4 опции
								+svg("charact-arrow")
						li
							a(href="#tech").charact-a
								img(src="../../images/tech.png", alt="")
								| Технические #[br]
								| характеристики
								span
									| 4 опции
								+svg("charact-arrow")
				.tabs
					.tab-pane.interior-pane.faded#interior
						ul.main-ul
							li
								| Тканевый салон, черный
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									div
										| В подарок
										img(src="../../images/info.png", alt="")
										//- ul.hover-tip
										//- 	li
										//- 		| Аптечка
										//- 	li
										//- 		| Огнетушитель
										//- 	li
										//- 		| Набор&nbsp;инструментов
										//- 	li
										//- 		| Коврики
										//- 	li
										//- 		| Запасное&nbsp;колесо
					.tab-pane.exterior-pane.faded#exterior
						ul.main-ul
							li
								| Экстерьер
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.comfort-pane.faded#comfort
						ul.main-ul
							li
								| Комфорт
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.safety-pane.faded#safety
						ul.main-ul
							li
								| Безопасность
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
					.tab-pane.tech-pane.faded#tech
						ul.main-ul
							li
								| Технические
							li
								| Спортивный руль
							li
								| Полная регулировка сидений
						.bottom-descr
							.title
								| Авто готов #[br]
								| к эксплуатации #[br]
								span
									| Забрал, сел, поехал
							ul.bottom-ul
								li
									| Пройден тех. осмотр
								li
									| Зимняя и летняя резина #[br]
									| в комплекта
								li
									| Застрахован
								li
									| Зарегистрирован в ГАИ
								li
									| Обслужен
								li
									| Набор для комфортной #[br]
									| эксплуатации #[br]
									span
										| В подарок
										img(src="../../images/info.png", alt="")
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.price-consult#price-consult
		a.popup-close
		.wrapper
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.price-consult#price-consult-1
		a.popup-close
		.wrapper
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.price-consult#price-consult-2
		a.popup-close
		.wrapper
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.price-consult#price-consult-3
		a.popup-close
		.wrapper
			.price-consult-application
				.price-consult-application__heading
					.left
						h3
							| Рассчитайте точную 
							span
								| стоимость 
								| авто и размер платежей 
							| для вас
						.blue-link
							span.blue-link-span
								| + консультацию от менеджера
							.consult-tip
								ul
									li
										| Совершит онлайн проверку 
										| для одобрения аренды авто
									li
										| Ответит на все ваши 
										| вопросы
									li
										| Расскажет о всех условиях 
										| аренды, вы будете знать обо 
										| всем перед заключением 
										| договора
									li
										| Поможет с выбором авто
				form.price-consult-application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					.right
						.img
							img(src="../../images/Anna.png", alt="")
						.text
							| Вам перезвонит#[br]
							span
								| Анна Измайлова
					button.main-button(type="submit")
						span
							| Рассчитать точную стоимость авто для вас

	.modal.mfp-with-anim.users-modal#users
		a.popup-close
		.wrapper
			h3
				| yowheels открытый сервис
			.user-card
				.img
					img(src="../../images/user-photo.png", alt="")
				.text
					span
						| Оставьте заявку и наш менеджер предоставит#[br]
					| вам контакты пользователей, которые расскажут все о yowheels.#[br]
					| Пользователи дали согласие на звонки.

			.application
				h3
					| Оставить заявку на 
					span
						| получение #[br]
						| контактов 
					| пользователей
				form.application__form
					input(type="hidden" name="project_name" value="Youwheels")
					input(type="hidden" name="admin_email" value="maxgraph23@gmail.com")
					input(type="hidden" name="form_subject" value="Заявка с сайта Youwheels")
					.main-input-wrapper
						input.main-input(type="tel" maxlength="19" name="Телефон" placeholder="+375  (XX) XXX-XX-XX")
					button.main-button(type="submit")
						span
							| Оставить заявку

	.modal.thanks-modal.mfp-with-anim#thanks-modal
		a.modal-close(href="#")
			img(src="/images/close-modal.png" alt="")
		.title
			| Спасибо! За доверие, #[br]
			| ваша заявка принята
		.descr
			| В рабочее время в течение 5 минут  с вами свяжется наш #[br]
			| менеджер, если вы не хотите ожидать звонка вы можете #[br]
			| позвонить по номеру +375 (XX) XXX-XX-XX