.modals
	.modal.mfp-with-anim.consult#consult
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
				.what-else


	.modal.mfp-with-anim.payment#payment
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
	.modal.mfp-with-anim.credit-leasing#credit-leasing
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
	.modal.mfp-with-anim.price#price
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
