.modals
	.modal.mfp-with-anim.consult#consult
		a.popup-close
		.wrapper
			.consult__heading
				h3
					| Оставьте заявку на 
					span
						| бесплатную консультацию 
					| от менеджера
				| Консультация менеджера займет не более 10 минут
			.consult__main
				.manager
					.img
						img(src="../../images/Anna.png", alt="")
					.name
						| Вам перезвонит#[br]
						span
							| Анна Измайлова
				.middle
					img(src="../../images/chat.png", alt="")
					.text
						| Расскажет обо всех 
						span
							| условиях работы в такси #[br]
							| и аренды авто, 
						| вы будете знать обо всем #[br]
						| перед заключением договора
				a.what-else
					.circle
						img(src="../../images/reload.png", alt="")
					span
						| что еще входит
			.consult__form
				input(type="tel").main-input
				button.main-button
					span
						| Оставить заявку на бесплатную консультацию


	.modal.mfp-with-anim.payment#payment
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
	.modal.mfp-with-anim.credit-leasing#credit-leasing
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
	.modal.mfp-with-anim.price#price
		a.popup-close
		.wrapper
			h3
				| fnbvjfbvobv jfcnbb 
