section.pleasure
	.container
		h2
			| вам достается только 
			span
				| удовольствие#[br]
				| от вождения, 
			| остальное решаем мы!
		.content
			.col-l
				.card.c-1
					.card-h
						| Не нужно тратить время,#[br]
						| оформлять авто в ГАИ#[br]
						| и проходить тех. осмотр
					.card-p
						| Вам не придется стоять в очередях#[br]
						| и платить за оформление авто
				.card.c-2
					.card-h
						| На авто можно выезжать#[br]
						| за границу
					.card-p
						| Для вас и вашего автомобиля#[br]
						| нет ограничений
				.card.c-3
					.card-h
						| Постоянная поддержка#[br]
						| и помощь
					.card-p
						| Персональный менеджер всегда#[br]
						| поможет и ответит на ваши#[br]
						| вопросы, выручим на дороге,#[br]
						| вызовем недорогой эвакуатор или#[br]
						| поможем разобраться в ситуации
			.col-r
				.card.c-4
					.card-h
						| Помощь и скидки#[br]
						| на обслуживание
					.card-p
						| Помогаем с обслуживанием авто#[br]
						| + предоставляем скидки на ремонт#[br]
						| и расходники
				.card.c-5
					.card-h
						| Платите, как удобно
					.card-p
						| Ежедневно, одним платежом,#[br]
						| раз в месяц или на перед#[br]
						a.blue-link.open-popup(href="#payment")
							span.blue-link-span
								| Подробнее о платежах
				.card.c-6
					.card-h
						| Можно совмещать#[br]
						| с кредитом
					.card-p
						| Yowheels не влияет на кредитную#[br]
						| историю и его можно совмещать#[br]
						| с другими кредитами