section.testimonials
	.container
		h3
			| Отзывы о&nbsp
			span
				| yowheels
		.testim-tab-nav
			ul
				li
					a(href="#video-pane").testim-main-button.active
						span
							| видео
				li
					a(href="#photo-pane").testim-main-button
						span
							| фото
				li
					a(href="#written-pane").testim-main-button
						span
							| письменные
		.tabs
			.tab-pane.test-pane.video-pane.faded.in.active#video-pane

				.video-swiper
					.swiper-wrapper
						.swiper-slide.swiper-lazy(data-background="../../images/slide-1-bg.png")
							a.open-popup.video-link(href="#video-1")
								.main-circle
									img(src="../../images/play.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/slide-2-bg.png")
							a.open-popup.video-link(href="#video-2")
								.main-circle
									img(src="../../images/play.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/slide-1-bg.png")
							a.open-popup.video-link(href="#video-3")
								.main-circle
									img(src="../../images/play.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/slide-2-bg.png")
							a.open-popup.video-link(href="#video-4")
								.main-circle
									img(src="../../images/play.png", alt="")




			.tab-pane.test-pane.photo-pane.faded#photo-pane

				.photo-swiper
					.swiper-wrapper
						.swiper-slide.swiper-lazy(data-background="../../images/photo-1.png")
							a.open-popup.video-link(href="#photo-1")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/photo-1.png")
							a.open-popup.video-link(href="#photo-2")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/photo-1.png")
							a.open-popup.video-link(href="#photo-3")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/photo-1.png")
							a.open-popup.video-link(href="#photo-4")
								.main-circle
									img(src="../../images/zoom.png", alt="")



			.tab-pane.test-pane.written-pane.faded#written-pane

				.written-swiper
					.swiper-wrapper
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-1")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-2")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-3")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-4")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-5")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-6")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-7")
								.main-circle
									img(src="../../images/zoom.png", alt="")
						.swiper-slide.swiper-lazy(data-background="../../images/testimonial.png")
							a.open-popup.video-link(href="#written-8")
								.main-circle
									img(src="../../images/zoom.png", alt="")
		.tab-footer
			a(href="#users").testim-main-button.find-out.open-popup
				span
					| Узнать правду о yowheels от пользователей
			.swiper-buttons
						.testim-prev
							img(src="../../images/arrow-prev.png", alt="")
						.testim-next
							img(src="../../images/arrow-next.png", alt="")