extends pug/base

append vars
	//- ...

block content
	main.site-container
		include pug/components/header
		include pug/components/car-section
		include pug/components/for-section
		include pug/components/credit-section
		include pug/components/counter-section
		include pug/components/alternative-section
		include pug/components/testimonials-section
		include pug/components/pleasure-section
		include pug/components/how-section
		include pug/components/catalog-section
		include pug/components/faq-section
		include pug/components/map-section
		include pug/components/footer