*,
*::before,
*::after {
	margin: 0;
	outline: none;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	color: $main-font-color;
}

body {
	font-family: "GothamPro";
}

a {
	text-decoration: none;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: vw(1170);

	@include mobile {
		padding: 0 vmin(20);
		width: 100%;
	}
}

.site-container {
	position: relative;
	overflow: hidden;
}

.main-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: vw(35);
	width: vw(320);
	height: vw(70);
	box-shadow: 0 vw(15) vw(40) rgba(255, 203, 77, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
	font-family: sans-serif;
	font-weight: bold;
	font-size: vw(14);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	text-transform: uppercase;
	color: #202020;
	background-color: #ffcb4d;
	transition: all 0.3s ease-in-out;
	span {
		position: relative;
		z-index: 10;
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: inherit;
		box-shadow: 0 15px 40px rgba(255, 203, 77, 0.4), 0 3px 0 #e5b950, inset 4px 4px 10px rgba(255, 255, 255, 0.8);
		background-color: #fbb40a;
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}
	&:hover::before {
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}
}

h2 {
	font-family: $g-p-light;
	font-size: vw(38);
	letter-spacing: vw(1.5);
	text-transform: uppercase;
	span {
		font-family: $g-p-medium;
	}
}
h2::before {
	content: "";
	position: absolute;
	width: vw(146);
	height: vw(21);
	background-image: url("../images/logo-eng.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.blue-link {
	display: inline-block;
	&-span {
		border-bottom: 1px dashed $sky-blue;
		padding-bottom: vw(3);
		font-family: $g-p-light;
		font-size: vw(13);
		line-height: vw(20);
		color: $sky-blue;
	}
	&:hover .blue-link-span {
		border-bottom: 1px dashed $sky-blue-hover;
		color: $sky-blue-hover;
	}
}